/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
}
.menu{
  background-color: #3939ac;
  color: #ffffff;
  line-height: 2em;
}
nav{
  justify-content: center;
  background: #333;
  display: none;
}
nav a{
  color: #ffffff;
  padding: 1.25em;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }
  nav{
  display: flex;
  justify-content: center;
  background: #333;
}
nav a{
  color: #ffffff;
  padding: 1.25em;
  background: 	#333;
}
body {
  background: #cfc;
}
.menu{
  display:none;
}

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
