/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px 0 -499px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: url("../images/womaninwhite.jpg") no-repeat center center;
         background-size: cover;
}
header{
  text-align: center;
  padding: 10vh 70%;
  color: white;
}
.menu{
  background: #333;
  color: #ffffff;
  line-height: 2em;
}
nav{
  justify-content: center;
  background: #333;
  display: none;
}
nav a{
  color: #ffffff;
  padding: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}
.grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "logog logog"
  "slogan slogan";
}
.logog{
  grid-area: logo;
  grid-column: 1/1;
}

.menu-toggle{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
#logo{//for iphones and small screens
  image: url("../images/transparentresize.jpg");
  position: absolute;
  width: 250px;
  left: 10px;
  top: -80px;
}
#logog{
  width: 400px;
}
#slogan{
  grid-area: slogan;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px - 1000 */

  body {
    background: url("../images/womaninwhite.jpg") no-repeat center center;
           background-size: cover;
  }
  header{
    text-align: center;
    padding: 10vh 0%;

    color: white;
  }
  nav{
  display: flex;
  justify-content: center;
  background: transparent;
  position: sticky;
}
nav a{
  color: #ffffff;
  padding: 1.25em;
  background: transparent;
  font-size: large;
}
#slogan{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}
.menu{
  display:none;
}
#menu-nav{
  font-size: x-large;
}
#logo{//for iphones and small screens
  image: url("../images/transparentresize.jpg");
  position: absolute;
  width: 250px;
  left: 10px;
  top: -80px;
}

}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: url("../images/womaninwhite.jpg") no-repeat center center;
           background-size: cover;
  }

}
