/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: url("../images/womaninwhite.jpg") no-repeat center center;
         background-size: cover;
}
header{
  text-align: center;
  padding: 10vh 70%;
  color: white;
}
.menu{
  background: #333;
  color: #ffffff;   
  line-height: 2em;
}
nav{
  justify-content: center;
  background: #333;
  display: none;
}
nav a{
  color: #ffffff;
  padding: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-toggle{
  display: flex;
}
#logo{
  image: url("../images/transparentresize.jpg");
    width: 500px;
}
#slogan{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

/*MOBILE -300*/
@media screen and (min-width: 300px) {
  body {
    background: url("../images/womaninwhite.jpg") no-repeat center center;
           background-size: cover;
  }
  .menu{
    color: #ffffff;
    line-height: 2em;
    font-family: sans-serif;
  }
  #menu-toggle{
      color: #ffffff;
      font-size: x-large;
      float: right;
  }
  nav{
    justify-content: center;
    background: #333;
    display: none;
  }
  nav a{
    color: #ffffff;
    padding: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
  }
  #slogan{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: none;
  }
  #logo{
    image: url("../images/transparentresize.jpg");

  }
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: url("../images/womaninwhite.jpg") no-repeat center center;
           background-size: cover;
  }
  header{
    text-align: center;
    padding: 10vh 0%;

    color: white;
  }
  nav{
  display: flex;
  justify-content: center;
  background: transparent;
  position: sticky;
}
nav a{
  color: #ffffff;
  padding: 1.25em;
  background: transparent;
  font-size: large;
}
#slogan{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}
.menu{
  display:none;
}
#menu-nav{
  font-size: x-large;
}

}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: url("../images/womaninwhite.jpg") no-repeat center center;
           background-size: cover;
  }
  #logo{
    image: url("../images/transparentresize.jpg");

  }

}
