body,
input,
textarea,
button,
select {
    outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

button{ border: none; }

.btn {
    -moz-user-select: "none";
    -ms-user-select: "none";
    -webkit-user-select: "none";
    user-select: "none";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 1.1;
	border: #00d4ff 1px solid;
    background-color: #00d4ff;
	color: #fff;
	border-radius: 2px;
	margin: 0 .5em .5em 0;
	padding: 1em 1.75em;
	outline: none;
    box-sizing: border-box;
}

.btn .linkline{ border: none; }
.btn:hover, .btn:focus{
    color: #fff;
	background-color: #333;
    border: #000 1px solid;
}
.btn.btn--text{
    background: transparent;
    border: transparent 1px solid;
    padding: 1em 1.75em;
    color: #000;
    text-align: left;
}
.btn.btn--text:hover{
    color: #00d4ff;
}
    }
.btn.btn--wide{ padding: 1em 2.75em; }
.btn.btn--white{
    background: #fff; color: #333; border: 1px solid #333;
}
.btn.btn--white:hover, .btn.btn--white:focus{ background-color: #333; color: #fff; border: 1px solid #333;}

.btn.btn--black{
    background: #333;
    border: 1px solid #333;
    color: #fff;
}
.btn.btn--black:hover, .btn.btn--black:focus{ background-color: #00d4ff; color: #fff; border: 1px solid #00d4ff;}


.btn.btn--grey{
    background: #eee;
    color: #333;
}
.btn.btn--grey:hover{ background: #00d4ff; color: #fff; }

.btn--inline .btn {
    width: 100%;
}

.btn--inline .btn.btn--text{
    padding: 1em 0;
}

@media only screen and (min-width:550px){
    .btn--inline .btn {
        display: inline-block;
        width: 48%;
        margin: 0;
    }
    .btn--inline .btn:first-child{
        float: left;
        margin-right: 4%;
    }
    .btn--inline .btn.btn--text{
        padding: 1em 1.75em;
    }
}

/*  ==========================================================================
	cart
	========================================================================== */

.cart__row{
    padding: .5em 0 0;
    border-bottom: 1px solid #ddd;
}

.cart__cell{
    position: relative;
}

.cart__image{
    position: relative;
    height: 140px;
    width: 93px;
    float: left;
    margin-right: 30px;
}

.cart__image .cart__imagesrc {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cart__meta{
    float: left;
}

.cart__productname{
    margin-top: 0;
}

.cart__qty {
    position: relative;
    margin: 1.35em 0 0;
    max-width: 75px;
    overflow: visible;
}

.cart__qty input[type="text"] {
    display: block;
    text-align: center;
    width: 100%;
    padding: 2px 20px;
    border-radius: 2px;
    background-color: #fff;
    color: #888;
}

.cart__qty--minus {
    left: 0;
    border-radius: 2px 0 0 2px;
}
.cart__qty--plus{
    right: 0;
    border-radius: 0 2px 2px 0;
}
.cart__qty-adjust {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    bottom: 0;
    border: 0 none;
    padding: 0 8px;
    background: none;
    text-align: center;
    overflow: hidden;
    line-height: 1;
    transition: all 0.2s ease-out;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-backface-visiblity: hidden;
    backface-visiblity: hidden;
}

.cart__price{
    vertical-align: text-bottom;
}

@media only screen and (min-width: 700px){
    .cart__image {
        margin-top: -1em;
        margin-bottom: -1em;
    }
    .cart__row {
        padding: 1.4em 0;
    }
}
